Blog posts content
key mech circuit.fzz
Media
hello_world
hello_world.c
test_key_mech_input
general info.rtf
UserInterfaceState.xcuserstate
Code/BBB/VintageToySynthProject/VintageBrain/vintageBrain
anybaud
initSerialPorts
Code/PatchManagerDesktopApp/Builds/MacOSX/build
Code/VtsEditor/Builds/MacOSX/build
command structure.rtf
Notes on synthesis engine design.rtf
Using the VTS as a MIDI Controller Video Script.docx
VTS Complete Hands-on guide video script.docx
VTS Spec Overview Video Script.docx
VTS BOM.xlsx
