[Unit]
Description=Vintage Toy Synth Startup Service
 
[Service]
ExecStart=/usr/VintageToySynthProject/vintageToySynthStartup.sh
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target
Alias=vintageToySynthStartup.service